<!doctype html>
<html>
<head>
    <title>Communautics Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body 		{ padding-top:80px; }
    </style>
</head>
<body>
<div class="container">
    <div class="col-sm-6 col-sm-offset-3">

        <h1><span class="fa fa-user"></span> Login with your Local Account</h1>

        <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
        <% } %>

        <!-- LOGIN FORM -->
        <form action="/connect/local" method="post">
            <div class="form-group">
                <label>Communautics Username</label>
                <input type="text" class="form-control" name="email" autofocus>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password">
            </div>

            <button type="submit" class="btn btn-warning btn-lg">Connect this account</button>
        </form>

        <label>Need a new account? After having signed up go to profile and join accounts.</label>
        <a href="/signup">Signup</a>
        <hr>

        <p><a href="/profile">Go back to profile</a></p>
        <div class="text-center">
            <p>Draft Application  <a href="http://walterklaus.de">2017 Walter Klaus</a>.</p>
            <p>First Steps with Node.js on UberSpace</a>.</p>
        </div>

    </div>
</div>
</body>
</html>