<!doctype html>
<html>
<head>
    <title>CommunauticsChat</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body 		{ padding-top:80px; }
    </style>
</head>
<body>
<div class="container">
    <div class="col-sm-6 col-sm-offset-3">

        <h1><span class="fa fa-sign-in"></span> Communautics Membername</h1>

        <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %>
        </div>

        <%} %>



        <!-- Namer FORM -->
        <form action="/namer" method="post">
            <div class="form-group">
                <label>Please check availability of your desired Chat Username</label>
                <label>Use chars or numbers only. No 'space', please!</label><br>
                <label>This Name will be displayed in the Chatroom</label>
                <input type="text" class="form-control" name="email" autofocus>
            </div>

            <button type="submit" class="btn btn-warning btn-lg" name="check">Check availability</button>
        </form>


        <hr>

        <p><a href="/profile">Back to Profile</a>.</p>

        <div class="text-center">
            <p>Draft Application  <a href="http://walterklaus.de">2017 Walter Klaus</a>.</p>
            <p>First Steps with Node.js on UberSpace</a>.</p>
        </div>

    </div>
</div>
</body>
</html>